<li class="list-item-location {{count}}">
<div class="row">
  <div class="large-12">
    {{name}}
  </div>
</div>
<div class="row">
  <div class="large-6 column">
    {{lng}}
  </div>
  <div class="large-6 column">
    {{lat}}
  </div>
</div>
<span class="list-item-controls"></span>
</li>
