<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Locations</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @projects.each do |project| %>
  <tbody>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.locations.count %></td>
    </tr>
  </tbody>
  <% end %>
</table>
