<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Locations</th>
      <th></th>
    </tr>
  </thead>
  <% @projects.each do |project| %>
  <tbody>
    <tr>
      <td>
        <%= link_to user_project_path(@user, project) do %>
          <%= project.name %>
        <% end %>
      </td>
      <td><%= project.locations.count %></td>
      <td>
        <%= link_to user_project_path(@user, project), class: 'button small' do %>
          Start
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>
