<div class="row">

  <h1>Welcome <%= @user.name %></h1>

  <div class="large-6 column">
    <h2>Projects</h2>
    <%= render 'partial/map_projects/list_view' %>
  </div>
  <%= link_to  'Create a new project', new_user_project_path(:user_id => current_user.id ) %>
  <div class="large-6 column">
    <h2>Account</h2>
    <%= render 'devise/display/profile_short' %>
  </div>

</div>
