<div class="row">

  <h1>Welcome <%= @user.name %></h1>

  <div class="large-6 column">
    <h2>Projects</h2>
    <%= render 'partial/map_projects/list_view' %>
  </div>
  <div class="large-6 column">
    <h2>Account</h2>
    <%= link_to  'Create a new project', [:new, :project], class: 'large-12 button' %>
    <%= render 'devise/display/profile_short' %>
  </div>

</div>
