<div class="hero-default large-12 image-back">
  <div class="row">
    <%= image_tag 'proto/mapmade.png' %>
    <h1>Hero text</h1>
    <h2>Hero description</h2>
  </div>

  <div class="row">
    <div class="large-4 column">
      <h3>Point 1</h3>
    </div>
    <div class="large-4 column">
      <h3>Point 2</h3>
    </div>
    <div class="large-4 column">
      <h3>Point 3</h3>
    </div>
  </div>
</div>

<% content_for :callout_module do %>
  <div class="callout overlay text-center">
    <h2>Welcome!</h2>
    <h4>Mapmade.io is still in development.</h4>
    <hr>
    Questions? <a href="mailto:lenny@atriangle.com">Contact</a>
  </div>
<% end %>
