<div class="hero-default large-12 image-back">
  <div class="row">
    <h1>Hero text</h1>
  </div>
</div>

<div class="hero-visualize large-12 image-back">
  <div class="row">
    <h1>Hero text</h1>
  </div>
</div>

<div class="hero-phone large-12 image-back">
  <div class="row">
    <h1>Follow</h1>
  </div>
</div>
