.padding-remove{
  padding: 0em;
}

// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: rgb(59, 47, 99);
  background-image: -webkit-radial-gradient(50% top, rgba(84, 90, 182, 0.6) 0%,rgba(84, 90, 182, 0) 75%),-webkit-radial-gradient(right top, rgb(121, 74, 162) 0%,rgba(121, 74, 162, 0) 57%);
  background-image: radial-gradient( at 50% top, rgba(84, 90, 182, 0.6) 0%,rgba(84, 90, 182, 0) 75%),radial-gradient( at right top, rgb(121, 74, 162) 0%,rgba(121, 74, 162, 0) 57%);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  color: rgb(199, 192, 222);
  margin: 0;
  padding: 0;
  color: white;
}

.white-bg{
  background: white;
  h1, h2, h3, h4, p, div {
    color: #000;
  }
}
