@import '../base/variables';


.detail-content{
  width: 100%;
  float: right;
  margin-right: -50px;
  border-bottom: #333 solid 2px;
  border-right: #333 solid 2px;
  border-left: #333 solid 2px;
  border-top: #333 solid 2px;
  .inner-content{
    margin-right: 50px;
    border-right: #333 solid 2px;
    background: #efefef;
  }
}
.master-nav{
  .nav-content{
    height: 100%;
    width: 50px;
    float: right;
  }
}

.dash{
  .row{
    max-width: 100%;
  }
}


.top-to-bottom{
  position: absolute;
  height: 100%;
  #current-map{
    height: 100%;
  }
}
