@import '../base/variables';

.right-content{
  padding-left: 50px;
}

.detail-content{
  float: left;
  width: 100%;
  margin-left: -50px;
  border-bottom: #333 solid 2px;
  border-right: #333 solid 2px;
  border-left: #333 solid 2px;
  border-top: #333 solid 2px;
  .inner-content{
    margin-left: 50px;
    border-left: #333 solid 2px;
    background: #efefef;
  }
}
.master-nav{
  height: 100%;
  width: 50px;
  float: left
}

.dash{
  .row{
    max-width: 100%;
  }
}


.top-to-bottom{
  position: absolute;
  height: 100%;
  #current-map{
    height: 100%;
  }
}
