@import '../base/variables';


.detail-content{
  overflow-y: scroll;
  width: 100%;
  float: right;
  margin-right: -50px;
  border-left: #333 solid 2px;
  .inner-content{
    margin-right: 50px;
    border-right: #333 solid 2px;
    background: #fff;
  }
}

.master-nav{
  .nav-content{
    background: #efefef;
    border-left: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 100%;
    width: 50px;
    float: right;
  }
}

.dash{
  .row{
    max-width: 100%;
  }
}


.top-to-bottom{
  margin-left: 50px;
  position: absolute;
  height: 100%;
  #current-map{
    height: 100%;
  }
}
