<div id="actions">
  <span class="burger">
    Menu
  </span>
  <ul id="action-list">
    <li class="action-item">1</li>
    <li class="action-item">2</li>
    <li class="action-item">3</li>
    <li class="action-item">4</li>
  </ul>
</div>
