<div class="large-12 footer">
  <div class="row site-crumbs">
    <div class="large-6 column">
      <h3>mapmade.io</h3>
    </div>
    <div class="large-6 column"></div>
  </div>

  <div class="row">
    <div class="large-8 column"></div>
    <div class="large-4 column"></div>
  </div>
</div>
