<div id="location-input">
  <label for="">Name</label>
  <input type='text' id='nameInput' placeholder=''>
  <label for="">Longitude</label>
  <input type='text' id='longitudeInput' placeholder=''>
  <label for="">Latitude</label>
  <input type='text' id='latitudeInput' placeholder=''>
</div>
