<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <li id="right-off-header"><label class="header">Messages</label></li>
    <li><a href="#">Hari Seldon</a></li>
    <li><a href="#">...</a></li>
  </ul>
  <%#= render 'partial/topbar/login' %>
</aside>
