<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>Foundation</label></li>
    <li><a href="#">The Psychohistorians</a></li>
    <li><a href="#">...</a></li>
  </ul>
</aside>
