<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Map Track</h1>
  </section>

  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"> <h1 class="title">Chat</h1> <span></span></a>
  </section>
</nav>
