#geolocate {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 158px;
    margin-left: -80px;
    z-index: 1000;
    font: 13px/18px;
    text-align: center;
    padding: 10px 0;
    color: #3C4E5A;
    display: block;
    border: 1px solid #BBB;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#geolocate:hover {
    background: #ECF5FA;
}
