@import 'base/mixin';
@import 'base/variables';

.panel.notice{
  position: absolute;
  top: 0px;
  z-index: $module-zindex;
  width: 400px;
  top: -600px;
  opacity: 0;
  @include transition(top, 500ms, ease-in, 0s);
  &.visible{
    top: 60px;
    opacity: 1;
    left: 50%;
    margin-left: -200px;
  }
}
