
<ul>
  <li><label class="header">Save Location</label></li>
  <li class="location-input">
    <label for="">Name</label>
    <input type='text' id='nameInput' placeholder='Name'>
  </li>
  <li class="location-input">
    <label for="">Longitude</label>
    <input type='text' id='longitudeInput' placeholder='40.714623'>
  </li>
  <li class="location-input">
    <label for="">Latitude</label>
    <input type='text' id='latitudeInput' placeholder='-74.00663'>
  </li>

</ul>
