<ul id="location-save">
  <li class="text-center"><label class="header">Save Location</label></li>
  <li class="location-input">
    <label for="">Name</label>
    <input type='text' id='nameInput' placeholder='Name'>
  </li>
  <li class="location-input">
    <label for="">Description</label>
    <textarea id='descInput' placeholder='Description'></textarea>
  </li>
{{!--   <div class="row lnglat-display">
    <div class="large-6 medium-6 column location-input">
      <label for="">Longitude</label>
      <input type='text' id='longitudeInput' value='{{lng}}'>
    </div>
    <div class="large-6 medium-6 column location-input">
      <label for="">Latitude</label>
      <input type='text' id='latitudeInput' value='{{lat}}'>
    </div>
  </div> --}}
  <li><button id="submitLocationSave" class="expand">Submit</button></li>
</ul>
