
.home{
  .image-back{
    height: 700px;
    background-position:center;
    background-size:cover;
  }
  .hero-default{
    background-image: image-url("2300x600.png");
  }
  .hero-visualize{
    background-image: image-url("map.jpg");
    background-color: black;
    h1{
      color: white;
    }
  }
  .hero-phone{
    background-image: image-url("iphone-mask.png");
  }

  .left-off-canvas-toggle{
    display: none;
  }
}
