<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <% @locations.each do |location| %>
  <tbody>
    <tr>
      <td><%= location.address %></td>
      <td><%= location.longitude %></td>
      <td><%= location.latitude %></td>
    </tr>
  </tbody>
  <% end %>
</table>
